@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Space Grotesk', sans-serif;
}

@layer utilities {
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 1s step-end infinite;
  }
}